In [28]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [3]:
import math
math.isnan(obj2['California'])

True

In [4]:
obj3['California']

True

In [5]:
obj2['California'] == None

False

In [6]:
x = obj2['California']
obj2['California'] != x

True

In [7]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [8]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [9]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [10]:
s2.iloc[1]

2

In [11]:
s1.loc[1]

'Alice'

In [12]:
s2[1]

2

In [13]:
s2.loc[1]

KeyError: 1

In [ ]:
df = pd.DataFrame({'Name': ['Alice', 'Jack'], 'Age': [20, 22], 'Gender': ['F', 'M']}, index=['Mathematics', 'Sociology'])
df

              Name  Age Gender
Mathematics  Alice   20      F
Sociology     Jack   22      M

In [21]:
df = pd.DataFrame({'Serial No.': [1, 2, 3, 4, 5], 'gre score': [337, 324, 316, 322, 314], 'toefl score': [118, 107, 104, 110, 103]})
df.set_index('Serial No.', inplace=True)
df

            gre score  toefl score
Serial No.
1                 337          118
2                 324          107
3                 316          104
4                 322          110
5                 314          103

In [27]:

df.where(df['toefl score'] > 105)

            gre score  toefl score
Serial No.
1               337.0        118.0
2               324.0        107.0
3                 NaN          NaN
4               322.0        110.0
5                 NaN          NaN

In [33]:
df = pd.DataFrame({'':['Ohio', 'Colorado', 'Utah', 'New York'], 'One': [0, 4, 8, 12], 'Two': [1, 5, 9, 13], 'Three': [2, 6, 10, 14], 'Four': [3, 7, 11, 15]})
df.set_index('', inplace=True)
df

          One  Two  Three  Four

Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [42]:

df.drop('Two')

KeyError: "['Two'] not found in axis"

In [2]:
import pandas as pd

In [5]:
student_df = pd.DataFrame({'Name': ['James', 'Mike', 'Sally'], 'School': ['Business', 'Law', 'Engineering']})
student_df.set_index('Name', inplace=True)
staff_df = pd.DataFrame({'Name': ['Kelly', 'Sally', 'James'], 'Role': ['Director of HR', 'Course liasion', 'Grader']})
staff_df.set_index('Name', inplace=True)

In [7]:
print(student_df)
print('')
print(staff_df)

            School
Name
James     Business
Mike           Law
Sally  Engineering

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [25]:
pd.merge(student_df, staff_df, how='right', left_index=True, right_index=True)

            School            Role
Name
Kelly          NaN  Director of HR
Sally  Engineering  Course liasion
James     Business          Grader

In [26]:
pd.merge(student_df, staff_df, how='left', left_index=True, right_index=True)

            School            Role
Name
James     Business          Grader
Mike           Law             NaN
Sally  Engineering  Course liasion

In [31]:
import pandas as pd
df  = pd.DataFrame({'': ['apple', 'mango', 'potato', 'onion', 'brocoli'], 'class':['fruit', 'fruit', 'vegetable', 'vegetable', 'vegetable'], 'avg calories per unit': [95, 202, 164, 'NaN', 207]})
df.set_index('', inplace=True)
df

             class avg calories per unit

apple        fruit                    95
mango        fruit                   202
potato   vegetable                   164
onion    vegetable                   NaN
brocoli  vegetable                   207